
/*
    Pantalla Extra Large (>=1200px)
*/
@media(min-width:1200px) {
    h1 {
        font-size: 8em;
    }
}

/*
 Pantalla Large (>=992px)
 */
@media(min-width:992px) and (max-width:1199px) {
    h1 {
        font-size: 7em;
    }
}

/*
 Pantalla Medium (>=768px)
 */
@media(min-width:768px) and (max-width:991px) {
    h1 {
        font-size: 6em;
    }
}

/*
 Pantalla LSmall (>=576px)
 */
@media(min-width:576px) and (max-width:767px) {
    h1 {
        font-size: 5em;
    }
}

/*
 Pantalla Extra small (<576px)
 */
@media(max-width:575px) {
    h1 {
        font-size: 4em;
    }
}